body {
  background-color: #EFF6FA;
  font-family: 'Roboto', sans-serif;
}

hr {
  border-color: #D79D36;
  width: 85%;
}

br {
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  height: 5rem;
  padding: 0.5rem;
  width: 100%;
}

.header_logo {
  margin-bottom: 1rem;
}

.header_nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 0 1rem;
  text-align: center;
  width: 80%;
}

.header_nav-link {
  color: #011627;
  display: inline-block;
  font-size: 1.3rem;
  padding-left: 2rem;
}

/* MAIN_BANNER */

.banner {
  align-items: center;
  background-color: #011627;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  width: 100%;
}

.banner_titulo {
  color: #FFF;
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
  width: 60%;
}

.banner_titulo-destaque,
.sobre_titulo-destaque {
  color: #81B5DA;
}

.banner_logo {
  color: #FFF;
  height: 100%;
}

/* MAIN_OBJETIVOS */

.objetivos {
  align-items: center;
  background-color: #EFF6FA;
  display: flex;
  height: 5rem;
  justify-content: space-evenly;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: justify;
}

.objetivos_numero {
  background: #011627;
  border-radius: 50px;
  color: #FCF7EE;
  font-size: 3rem;
  font-weight: 400;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  width: 5rem;
}

.objetivos_texto {
  width: 80%;
}

.textoTitulo {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.75rem;

}

.textoDescricao {
  color: #011627;
  font-size: 1.25rem;
  font-weight: 300;
}

/* MAIN_SOBRE */

.sobre {
  background-color: #011627;
  color: #FFF;
  padding: 4rem 3rem 4rem 3rem;
  text-align: justify;
}

.sobre_titulo {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.sobre_texto {
  font-size: 1.5rem;
  font-weight: 300;
}

/* MAIN_CONTATO */

.contato {
  color: #011627;
  padding: 4rem 3rem 4rem 3rem;
  text-align: justify;
  width: 100%;
}

.contato_titulo {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contato_conteudo{
  align-items: center;  
  display: flex;
}

.contato_conteudo-texto {
  color: #5C5C5C;
  font-size: 1.1rem;
  padding-right: 2rem;
}

.contato_conteudo-redes{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contato_conteudo-link{
  padding: 0.5rem;
  margin: 0 10rem;
}

.site{
  background-color: #011627;
  color: #FFF;
}

/* FOOTER */

.footer {
  background-color: #D8EEFD;
  color: #011627;
  padding: 1rem;
  text-align: center;
  text-justify: center;
  width: 100%;
}

.footer_nome {
  text-decoration: underline;
}